.popoverMenu {
	-fx-padding: 0.5em 2px;
}

.popoverItem Label {
	-fx-padding: 0 1em 0 0;
}

.popoverItem {
	-fx-pref-height: 32px;
	-fx-padding: 0.2em 1em 0.2em 1em;	
}

.popoverItem FontIcon {
    -fx-icon-color: accent_color;
}

.popoverItem FontIcon:disabled {
	-fx-icon-color: grey;
	-fx-fill: grey;
}

.popoverItem FontIcon:disabled, .popoverItem FontIcon:disabled > * {
    -fx-opacity: 0.5;
}

.popoverItem, .popoverItem > Label {
    -fx-text-fill: -fx-notionator-fg;
}

.popoverItem,
.popoverItem:focused,
.popoverItem:visited,
.popoverItem:visited:armed {
    -fx-underline: false;
}

.popoverItem:hover FontIcon {
	-fx-icon-color: #fff;
}

.popoverItem:hover,.popoverItem:hover:visited, .popoverItem:hover > Label {
    -fx-underline: false;
	-fx-fill: #fff;
    -fx-background-color: accent_color;
    hyperlink_hover_color: #fff;
    -fx-text-fill: #fff;
}

.popoverItem:pressed {
}

.popoverItem:disabled {
}

.popover  {
	-fx-background-color: transparent;
}

.popover > .border {
	-fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7)) ;
	-fx-stroke-width: 1;
	-fx-fill: -fx-notionator-bg;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}

.popover > .content {
}

.popover > .detached {
}

.popover > .content > .title > .text  {
	-fx-padding: 6.0 6.0 0.0 6.0;
	-fx-text-fill: rgba(120, 120, 120, .8);
}

.popover > .content > .title > .icon {
	-fx-padding: 6.0 0.0 0.0 10.0;
}

.popover > .content > .title > .icon > .graphics > .circle {
	-fx-fill: gray ;
	-fx-effect: innershadow(gaussian, rgba(0,0,0,.2), 3, 0.5, 1.0, 1.0);
}

.popover > .content > .title > .icon > .graphics > .line {
	-fx-stroke: white ;
}