.root { -fx-background-color:background_color; }

.tab-header-area {
	-fx-background-color: derive(background_color, -10%);
}

.title-bar FontIcon {
	-fx-icon-size: 20px;
}

.borderless-root .vdu, .borderless-root .terminal-roots {	
	-fx-background-radius: 0 0 8px 8px;
} 

.borderless-root .title-bar {	
	-fx-background-radius: 8px 8px 0 0;
}

/* Action keys */

.action-key {
    -fx-padding: 3 7 3 7;
}

.darkMode .action-key {
	-fx-background-radius: 8px;
	-fx-background-color: derive(background_color, +40%);
}

.lightMode .action-key {
	-fx-background-radius: 8px;
	-fx-background-color: derive(background_color, -40%);
}

/* 2 styles are a hack for context menu on title bar on windows */
.title-bar .menu-item {
    -fx-padding: 7 12 7 12;
}
.title-bar .menu-item .label {
	-fx-font-size: 12px !important;
}

/* Colored tabs
.tab .tab-label, .tab .tab-label .text {
	-fx-text-fill: #0f0 !important;
	-fx-font-weight: bold !important;
}
*  
*/

.dark-tab,.light-tab {	
	-fx-opacity: 0.5;
}

.dark-tab:selected, .light-tab:selected {
	-fx-opacity: 1;
}

.dark-tab .tab-label, .dark-tab .tab-label .text {
	-fx-text-fill: #eee !important;
}

.light-tab .tab-label, .light-tab .tab-label .text {
	-fx-text-fill: #111 !important;
}

/* Dialog tweaks */

.dialog-pane .header-panel {
	-fx-padding: 8px !important;
}

.dialog-pane {
	-fx-padding: 0;
}

UpdatePane,
AboutPane, 
ActionsPane,
Options,
AboutPane ImageView {
	-fx-background-color: dialog_background_color !important;
	-fx-padding: 8;
	-fx-background-radius: 0 0 8px 8px;
}

ActionsPane .viewport, UpdatePane .root {
	-fx-background-color: transparent !important;
}

.root.popup {
	-fx-cursor: default;
}