.terminal-roots {
	-fx-background-color: -fx-terminal-bg;
}

.terminal-anchors {	
}

#terminal-tabs .tab-header-background {
	-fx-background-insets: 0 0 0 0;
	-fx-background-color: -fx-terminal-bg;
}
